<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decrypt File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('dashboard') }}"class="back-to-dashboard">Back to Dashboard</a>
        <a href="{{ url_for('dashboard') }}"class="dec">Decrypt Your Files Here!</a>
    
    </div>
    <div class="container">
        <h2>Decrypt a File</h2>

        <form action="{{ url_for('decrypt') }}" method="POST" enctype="multipart/form-data">
            <label for="file">Select Encrypted File:</label>
            <input type="file" id="file" name="file" required>

            <label for="password">Enter Decryption Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Decrypt File</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}


    </div>
</body>
</html>
